button,
.cta {
  background: $accent-orange;
  border-radius: 4rem;
  color: $white;
  display: block;
  height: 4rem;
  text-transform: uppercase;
  transition: background-color .3s ease-in-out;
  width: 14rem;

  &:hover {
    background-color: $accent-orange-hover;
  }
}

.cta {
  color: $white;
  height: auto;
  padding: 1.5rem 6rem;
  width: auto;

  &:hover {
    color: $white;
  }
}

@media screen and (max-width: 640px) {
  .cta {
    padding: 1rem 4.5rem;
  }
}
