.links-container {
  background-color: $accent-blue;
  padding-top: 9rem;
  padding-bottom: 9rem;

  .links {
    margin-top: 3rem;
  }
}

footer {
  color: $medium-gray;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
