.links-container {
  background-color: $accent-blue;
  padding-top: 9rem;
  padding-bottom: 9rem;

  .links {
    margin-top: 4rem;
  }

  .contact {
    margin-top: 2.5rem;
  }

  span {
    font-size: 1.45rem;
  }

  img {
    width: 200px;
  }

  @media screen and (max-width: 640px) {
    img {
      margin: 0 auto;
    }
  }
}

footer {
  color: $medium-gray;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
