.hero {
  background-color: #ccc;
  max-height: 35rem;
  overflow: hidden;

  img {
    filter: brightness(30%);
    transform: translateY(-35%);
    width: 100%;
    z-index: -10;
  }
}

nav {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;

  a, ul {
    color: $white;
  }
}
